


/* nav bar left and right side configuration start */

.form-inline  {

    color: rgb(27, 5, 126);
    padding-left: 15%;

}

.navbar-nav {

    padding-right: 15%;
}


/* nav bar left and right side configuration */



